{% capture configScreen %}
    1921=>visible, 
    1920=>widescreen, 
    1480=>desktop, 
    1200=>laptop, 
    992=>notebook, 
    768=>tablet, 
    576=>landscape, 
    481=>portrait, 
    361=>mobile, 
    1=>mobile-small
{% endcapture %}

{% capture configSlick %}
    autoplay, 
    arrows, 
    fade, 
    center-Mode, 
    adaptive-Height,
    speed, 
    autoplay-Speed,
    dots, 
    infinite, 
    padding, 
    vertical, 
    vertical-Swiping,
    rows, 
    slides-To-Show,
    slides-To-Scroll
{% endcapture %}
{%  assign gridSlider = '' %}
{% if settings.use-slider == true %}
    {%  assign configSlick  = configSlick | strip_newlines | replace: " ", "" | split: "," %}
    {% for opt in configSlick %}
        {% assign value = settings[opt] %}
        {% if opt == 'vertical-Swiping' %}
            {% assign value = settings['vertical'] %}
        {% endif %}
        {% if value != blank or value == true or value == false%}
            {% capture gridSlider %}{{gridSlider}} data-{{opt}}='{{value}}'{% endcapture %}
        {% endif %}
    {% endfor %}
{% else %}
    {% capture gridSlider %}data-padding="{{settings['padding']}}"{% endcapture %}
{% endif %} 

{%  assign configScreen = configScreen | strip_newlines | replace: " ", "" | split: "," %}
{%  assign responsive = '['  %}
{% for cfg in configScreen %}
    {% assign size = cfg | split: '=>' | first | strip %}
    {% assign name = cfg  | split: '=>' | last | strip %}
    {% if settings.use-slider == true %}
            {% if forloop.last == true %}
                {% capture responsive %}{{responsive}}{"breakpoint": 1, "settings": {"slidesToShow":  1 }}]{% endcapture %}
            {% else %}
                {% capture responsive %}{{responsive}}{"breakpoint": {{size}}, "settings": {"slidesToShow":  {{settings[name]}} }},{% endcapture %}
            {% endif %}
    {% else %}
        {% if forloop.last == true %}
            {% capture responsive %}{{responsive}}{"1": "1" }]{% endcapture %}
        {% else %}
            {% capture responsive %}{{responsive}}{"{{size}}":"{{settings[name]}}" },{% endcapture %}
        {% endif %}
    {% endif %} 
{% endfor %}

{% capture gridSlider %}{{gridSlider}} data-responsive='{{responsive}}'{% endcapture %}
{% assign grid-slider = gridSlider %}

{% comment %}

Use in section:  
    {% include 'grid-slider', settings:section.settings %}

Use in block in section:  
    {% include 'grid-slider', settings:block.settings %}
                                                             
Use in html: 
    <div class="grid-slider" {{gridSlider}}>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image1.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image2.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image3.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image4.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image5.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image6.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image7.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image8.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image9.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image10.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image11.jpg"/></li>
    </div>

{% endcomment %}

{% comment %}

    Settings_schema
        {
            "type": "header",
            "content": "---- Slider Show Collection ----",
            "info": "Refer to the attribute values [here](https://kenwheeler.github.io/slick)"
        }, 	
        {
            "type": "checkbox",
            "id": "use-slider",
            "label": "Use slider?",
            "default": true
        },
        {  
            "type": "select",  
            "id": "slides-To-Scroll",  
            "label": "Slide to scroll",  
            "info": "The number of items slide to scroll",  
            "default": "1",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },
                {  
                    "value": "2",  
                    "label": "2"  
                },  
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                },  
                {  
                    "value": "5",  
                    "label": "5"  
                },  
                {  
                    "value": "6",  
                    "label": "6"  
                },  
                {  
                    "value": "7",  
                    "label": "7"  
                }  
            ]  
        },
        {  
            "type": "select",  
            "id": "slides-To-Show",  
            "label": "Slide to show",  
            "info": "The number of items slide to show",     
            "default": "5",  
            "options": [  
            {  
                "value": "2",  
                "label": "2"  
            },  
            {  
                "value": "3",  
                "label": "3"  
            },  
            {  
                "value": "4",  
                "label": "4"  
            },  
            {  
                "value": "5",  
                "label": "5"  
            },  
            {  
                "value": "6",  
                "label": "6"  
            },  
            {  
                "value": "7",  
                "label": "7"  
            }  
            ]  
        },   
        {  
            "type": "select",  
            "id": "visible",  
            "label": "Columns in Visible",  
            "default": "5",  
            "options": [  
                {  
                    "value": "2",  
                    "label": "2"  
                },  
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                },  
                {  
                    "value": "5",  
                    "label": "5"  
                },
                {  
                    "value": "6",  
                    "label": "6"  
                },
                {  
                    "value": "7",  
                    "label": "7"  
                }   
            ]  
        },
        {  
            "type": "select",  
            "id": "widescreen",  
            "label": "Columns in Widescreen",   
            "default": "4",  
            "options": [  
                {  
                "value": "2",  
                "label": "2"  
                },  
                {  
                "value": "3",  
                "label": "3"  
                },  
                {  
                "value": "4",  
                "label": "4"  
                },
                {  
                "value": "5",  
                "label": "5"  
                },
                {  
                "value": "6",  
                "label": "6"  
                },
                {  
                "value": "7",  
                "label": "7"  
                }   
            ]  
        },  
        {  
            "type": "select",  
            "id": "desktop",  
            "label": "Columns in Desktop",  
            "default": "4",  
            "options": [  
                {  
                    "value": "2",  
                    "label": "2"  
                },  
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                },
                {  
                    "value": "5",  
                    "label": "5"  
                },
                {  
                    "value": "6",  
                    "label": "6"  
                },
                {  
                    "value": "7",  
                    "label": "7"  
                }     
            ]  
        },	  
        {  
            "type": "select",  
            "id": "laptop",  
            "label": "Columns in Laptop",   
            "default": "4",  
            "options": [  
                {  
                    "value": "2",  
                    "label": "2"  
                },  
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                },
                {  
                    "value": "5",  
                    "label": "5"  
                },
                {  
                    "value": "6",  
                    "label": "6"  
                } 
            ]  
        },	  
        {  
            "type": "select",  
            "id": "notebook",  
            "label": "Columns in Notebook",  
            "default": "3",  
            "options": [  
                {  
                "value": "1",  
                "label": "1"  
                },  
                {  
                "value": "2",  
                "label": "2"  
                },
                {  
                "value": "3",  
                "label": "3"  
                },  
                {  
                "value": "4",  
                "label": "4"  
                },
                {  
                "value": "5",  
                "label": "5"  
                } 
            ]  
        },  
        {  
            "type": "select",  
            "id": "tablet",  
            "label": "Columns in Tablet",  
            "default": "3",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },  
                {  
                    "value": "2",  
                    "label": "2"  
                },
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                }
            ]  
        },
        {  
            "type": "select",  
            "id": "landscape",  
            "label": "Columns in Landscape",  
            "default": "2",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },  
                {  
                    "value": "2",  
                    "label": "2"  
                },
                {  
                    "value": "3",  
                    "label": "3"  
                },  
                {  
                    "value": "4",  
                    "label": "4"  
                }
            ]  
        }, 
        {  
            "type": "select",  
            "id": "portrait",  
            "label": "Columns in Portrait",  
            "default": "2",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },  
                {  
                    "value": "2",  
                    "label": "2"  
                },
                {  
                    "value": "3",  
                    "label": "3"  
                }
            ]  
        },
        {  
            "type": "select",  
            "id": "mobile",  
            "label": "Columns in Mobile",  
            "default": "1",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },  
                {  
                    "value": "2",  
                    "label": "2"  
                }  
            ]  
        },
        {  
            "type": "select",  
            "id": "rows",  
            "label": "Rows",  
            "default": "1",  
            "options": [  
                {  
                    "value": "1",  
                    "label": "1"  
                },  
                {  
                    "value": "2",  
                    "label": "2"  
                },
                {  
                    "value": "3",  
                    "label": "3"  
                }  
            ]  
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {	
            "type": "text",
            "id": "speed",
            "label": "Speed",
            "default": "300",
            "info": "Autoplay Speed in milliseconds"
        },
        {	
            "type": "text",
            "id": "autoplay-Speed",
            "label": "Auto Play Speed",
            "default": "3000",
            "info": "Autoplay Speed in milliseconds"
        },
        {	
            "type": "checkbox",
            "id": "arrows",
            "label": "Arrows",
            "default": true
        },
        {	
            "type": "checkbox",
            "id": "fade",
            "label": "Fade",
            "default": false,
            "info": "Used only for sliders with 'Slide to show' by 1 item"
        },
        {	
            "type": "checkbox",
            "id": "center-Mode",
            "label": "Center Mode",
            "default": false
        },
        {	
            "type": "checkbox",
            "id": "adaptive-Height",
            "label": "Adaptive Height",
            "default": false
        },
        {	
            "type": "checkbox",
            "id": "dots",
            "label": "Dots",
            "default": false 
        },
        {	
            "type": "checkbox",
            "id": "infinite",
            "label": "Infinite",
            "default": false
        },
        {
            "type": "number",
            "id": "padding",
            "label": "Padding",
            "default": 15
        },
        {	
            "type": "checkbox",
            "id": "vertical",
            "label": "Vertical",
            "default": false
        }
{% endcomment %}
