{% capture configScreen %}
    1921=>visible, 
    1920=>widescreen, 
    1480=>desktop, 
    1200=>laptop, 
    992=>notebook, 
    768=>tablet, 
    576=>landscape, 
    481=>portrait, 
    361=>mobile, 
    1=>mobile-small
{% endcapture %}

{% capture configSlick %}
    adaptive-Height,
    append-Arrows,
    append-Dots,
    autoplay,
    autoplay-Speed,
    arrows,
    center-Mode,
    dots,
    fade,
    infinite,
    padding,
    rows,
    slides-To-Show,
    slides-To-Scroll,
    speed, 
    vertical, 
    vertical-Swiping
{% endcapture %}
{%  assign gridSlider = '' %}
{% if settings.use-slider == true %}
    {%  assign configSlick  = configSlick | strip_newlines | replace: " ", "" | split: "," %}
    {% for opt in configSlick %}
        {% assign value = settings[opt] %}
        {% if opt == 'vertical-Swiping' %}
            {% assign value = settings['vertical'] %}
        {% endif %}
        {% if opt == 'slides-To-Show' %}
            {% assign value = settings['visible'] %}
        {% endif %}
        {% if value != blank or value == true or value == false%}
            {% capture gridSlider %}{{gridSlider}} data-{{opt}}='{{value}}'{% endcapture %}
        {% endif %}
    {% endfor %}
{% else %}
    {% capture gridSlider %}data-padding="{{settings['padding']}}"{% endcapture %}
{% endif %} 

{%  assign configScreen = configScreen | strip_newlines | replace: " ", "" | split: "," %}
{%  assign responsive = '['  %}
{% for cfg in configScreen %}
    {% assign size = cfg | split: '=>' | first | strip %}
    {% assign name = cfg  | split: '=>' | last | strip %}
    {% if settings.use-slider == true %}
            {% if forloop.last == true %}
                {% capture responsive %}{{responsive}}{"breakpoint": 1, "settings": {"slidesToShow":  1 }}]{% endcapture %}
            {% else %}
                {% capture responsive %}{{responsive}}{"breakpoint": {{size}}, "settings": {"slidesToShow":  {{settings[name]}} }},{% endcapture %}
            {% endif %}
    {% else %}
        {% if forloop.last == true %}
            {% capture responsive %}{{responsive}}{"1": "1" }]{% endcapture %}
        {% else %}
            {% capture responsive %}{{responsive}}{"{{size}}":"{{settings[name]}}" },{% endcapture %}
        {% endif %}
    {% endif %} 
{% endfor %}

{% capture gridSlider %} data-wrapper='#shopify-section-{{section.id}}' {{gridSlider}} data-responsive='{{responsive}}' {% endcapture %}
{% assign grid-slider = gridSlider %}

{% comment %}

Use in section:  
    {% include 'grid-slider', settings:section.settings %}

Use in block in section:  
    {% include 'grid-slider', settings:block.settings %}
                                                             
Use in html: 
    <div class="grid-slider" {{gridSlider}}>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image1.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image2.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image3.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image4.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image5.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image6.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image7.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image8.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image9.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image10.jpg"/></li>
        <li><img src="https://www.starplugins.com/sites/starplugins/images/jetzoom/large/image11.jpg"/></li>
    </div>

{% endcomment %}

{% comment %}

Add to settings_schema:

    {
        "type": "header",
        "content": "---- Slider Show Collection ----",
        "info": "Refer to the attribute values [here](httpss://kenwheeler.github.io/slick)"
    },  
    {
        "type": "checkbox",
        "id": "use-slider",
        "label": "Use slider?",
        "default": true
    },
    {  
        "type": "range",  
        "id": "slides-To-Scroll",  
        "label": "Slide to scroll",  
        "info": "The number of items slide to scroll",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 1
    },   
    {  
        "type": "range",  
        "id": "visible",  
        "label": "Columns in Visible",
        "info": "Item(s) in screen ( Size >= 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 5 
    },
    {  
        "type": "range",  
        "id": "widescreen",  
        "label": "Columns in Widescreen",
        "info": "Item(s) in screen ( 1366 <= Size < 1920 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4 
    },  
    {  
        "type": "range",  
        "id": "desktop",  
        "label": "Columns in Desktop",
        "info":  "Item(s) in screen ( 1200 <= Size < 1480 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4  
    },    
    {  
        "type": "range",  
        "id": "laptop",  
        "label": "Columns in Laptop",
        "info": "Item(s) in screen ( 992 <= Size < 1200 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 4
    },    
    {  
        "type": "range",  
        "id": "notebook",  
        "label": "Columns in Notebook",
        "info": "Item(s) in screen ( 768 <= Size < 992 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3  
    },  
    {  
        "type": "range",  
        "id": "tablet",  
        "label": "Columns in Tablet",
        "info": "Item(s) in screen ( 576 <= Size < 768 )",
        "min": 1,
        "max": 8,
        "step": 1,
        "unit": "col",
        "default": 3 
    },
    {  
        "type": "range",  
        "id": "landscape",  
        "label": "Columns in Landscape",
        "info": "Item(s) in screen ( 480 <= Size < 576 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    }, 
    {  
        "type": "range",  
        "id": "portrait",  
        "label": "Columns in Portrait",
        "info": "Item(s) in screen ( 360 < Size < 480 )",
        "min": 1,
        "max": 6,
        "step": 1,
        "unit": "col",
        "default": 2 
    },
    {  
        "type": "range",  
        "id": "mobile",  
        "label": "Columns in Mobile",
        "info": "Item(s) in screen ( Size < = 360 )",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "col",
        "default": 1 
    },
    {  
        "type": "range",  
        "id": "rows",  
        "label": "Rows Slider",  
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "col",
        "default": 1
    },
    {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay",
        "default": true
    },
    {	
        "type": "text",
        "id": "speed",
        "label": "Speed",
        "default": "300",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "text",
        "id": "autoplay-Speed",
        "label": "Auto Play Speed",
        "default": "3000",
        "info": "Autoplay Speed in milliseconds"
    },
    {	
        "type": "checkbox",
        "id": "arrows",
        "label": "Arrows",
        "default": true
    },
    {	
        "type": "checkbox",
        "id": "fade",
        "label": "Fade",
        "default": false,
        "info": "Only use for 1 column"
    },
    {	
        "type": "checkbox",
        "id": "center-Mode",
        "label": "Center Mode",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "adaptive-Height",
        "label": "Adaptive Height",
        "default": false
    },
    {	
        "type": "checkbox",
        "id": "dots",
        "label": "Dots",
        "default": false 
    },
    {	
        "type": "checkbox",
        "id": "infinite",
        "label": "Infinite",
        "default": false
    },
    {
        "type": "number",
        "id": "padding",
        "label": "Padding",
        "default": 15
    },
    {	
        "type": "checkbox",
        "id": "vertical",
        "label": "Vertical",
        "default": false
    },
{% endcomment %}